header {
  padding: 0 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

.logo {
  width: 262px;
  height: 64px;
}

nav img {
  width: 262px;
  height: 64px;
}

.nav-link {
  color: black;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

h1 {
  margin-top: 64px;
  font-weight: 500;
  font-size: 60px;
  line-height: 84px;
}

main {
  padding: 0 80px;
}

.projects-container {
  margin-top: 178px;
  padding: 0 64px;
}

.project {
  display: flex;
  align-items: center;
  gap: 88px;
}

.project img, .project-info {
  width: 50%;
}

.project-info h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 20px;
}

.project-info p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 24px;
}

.project-info button {
  background-color: white;
  border: 1px solid #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 24px;
  padding: 16px 36px;
}